.cart-dropdown {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: white;
    top: 100px;
    right: 60px;
    padding: 20px;
    z-index: 5;
}

.cart-dropdown .cart-items{
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.cart-dropdown .cart-items .empty-cart {
    font-size: 18px;
    margin: 50px auto;
}

.cart-dropdown .custom-button {
    margin-top: auto;
    background-color: black;
    color: white;
}

.cart-dropdown .custom-button:hover {
    
    background-color: white;
    color: black;
    border: 1px solid black;
}