.collection-item {
    width: 22vw;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
}
.collection-item .image {
      width: 100%;
      height: 95%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
    }
  
.collection-item .custom-button {   
    display: none;
    margin-top: 15%;
    background-color: white;
    color: black;
    position: absolute; 

}

.collection-item:hover {
  opacity: 0.8;
}

.collection-item:hover .custom-button { display: block; } 

.collection-item:hover .custom-button:hover {
  background-color: black;
  color: white;
}


.collection-item .collection-footer {
      width: 100%;
      height: 5%;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
}
.collection-item .collection-footer .name {
        width: 80%;
        margin-bottom: 15px;
      }
  
.collection-item .collection-footer .price {
        width: 20%;
        text-align: end;
      }
    
  