.sign-up 
{
    display: flex;
    flex-direction: column;
    width: 380px;
}
.sign-up .title
{
    margin: 10px 0;
}

.sign-up .custom-button {
    background-color: black;
    color: white;
    width: 165px;
}

.sign-up .custom-button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }